# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
brain_tumor_detection_venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Data
data/